#main-block-1 {
   /* position: relative; */
   margin-top: 14rem;
   width: 100vw;
   height: 100vh;
   overflow-y: hidden;

   display: flex;
   flex-direction: column;
}

#main-block-1 .t-1 {
   width: 30rem;
   padding: 1rem 1rem 1rem 9rem;
   font-size: 7rem;
   color: white;
}

#main-block-1 .t-2 {
   width: 30rem;
   padding-left: 9rem;
   font-size: 1.2rem;
   color: rgb(221, 221, 221);
}