#main-block-5 {
   position: relative;
   margin-top: -100vh;
   width: 100%;
   height: 190%;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   z-index: 10;
}

.block-wrapper-5-1 {
   position: absolute;
   left: 60%;
   top: 53%;
   display: flex;
   flex-direction: column
}

.t-9 {
   width: 20rem;
   font-size: 5.5rem;
   font-weight: 700;
   color: rgb(221, 221, 221);
   z-index: 20;
}

.t-10 {
   width: 30rem;
   padding: 1rem 1rem 1rem 0rem;
   font-size: 1.2rem;
   color: rgb(221, 221, 221);
   z-index: 20;
}

.triangle-wrapper {
   display: flex;
   align-items: center;
}

.test {
   display: block;
   width: 100px;
   height: 100px;
   background-color: transparent;
}

.text-block-5 {
   font-size: 1.7rem;
   font-weight: 600;
   color: white;
   margin-left: 1rem;
}

#triangle-1 {
   position: absolute;
   top: 55%;
   left: 17%;
}

#triangle-2 {
   position: absolute;
   top: 60%;
   left: 28%;
}

#triangle-3 {
   position: absolute;
   top: 65%;
   left: 18%;
}

#canvas-triangle-1,
#canvas-triangle-2,
#canvas-triangle-3 {
   position: absolute;
   width: 100px;
   height: 100px;
   z-index: 10;
}