#main-block-6 {
   position: relative;
   width: 100vw;
   overflow-y: hidden;

   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 30rem 0 20rem 0;
}

#main-block-6 .t-11 {
   font-size: 3.6rem;
   color: rgb(221, 221, 221);
}

#main-block-6 #request-btn {
   margin-top: 2rem;
}

#request-btn {
   padding: 0.8rem 1.3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 2rem;
   color: white;
   font-size: .88rem;
   font-weight: 700;
   background-color: var(--main-color-1);
}