#main-block-3 {
   /* position: relative; */
   margin-top: 12rem;
   width: 100vw;
   height: 80vh;
   overflow-y: hidden;

   display: flex;
   flex-direction: column;
   align-items: center;
}

#main-block-3 .t-4 {
   width: max-content;
   padding: 1rem 1rem 1rem 1rem;
   font-size: 7rem;
   color: white;
}

#main-block-3 .t-5 {
   /* width: 90vw; */
   font-size: 1.2rem;
   color: rgb(221, 221, 221);
}